@font-face {

    font-family: 'Apercu Pro Regular';

    src: url('../fonts/Apercu Pro Regular.otf');

    src: url('../fonts/Apercu Pro Regular.otf') format('opentype'),

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'Helvetica';

    src: url('../fonts/HelveticaRegular/HelveticaRegular.eot');

    src: url('../fonts/HelveticaRegular/HelveticaRegular.ttf') format('truetype'),

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'Helvetica';

    src: url('../fonts/HelveticaRegular/HelveticaMedium.eot');

    src: url('../fonts/HelveticaRegular/HelveticaMedium.ttf') format('truetype'),

    font-weight: bolder;

    font-style: normal;

}