#wrapper {
    margin: 0 auto;
    max-width: 1920px;
    width: auto;
/*    	border: 2px solid yellow;*/

}

.container {
    max-width: 1920px;

}
.container .head {
    display: block;
    position: relative;
    background: url('../images/head.png') center/cover;
    width: 100%;
    height: 100vh;
/*    border: 2px solid yellow;*/
}

.container .icon img {
    width: 5%;
    position: absolute;
    margin: 25px 0 0 47%;
    z-index: 1;

}

.container .little_menu a {
    position: absolute;
    font-family: Apercu Pro Regular;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    top: 25px;
    left: 25px;
    z-index: 1;
}

.container  a:hover {
    color: #000;
    text-decoration: none;
}

.container .stores a {
    position: absolute;
    font-family: Apercu Pro Regular;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    right: 25px;
    top: 25px;
    z-index: 1;
}


.container .logo img {
    width: 80%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

section img {
    padding: 2px;
}

footer {
    max-width: 1920px;
    max-height: 156px;
    background-color: white;

}

.s_3,
.s_4,
.s_6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    margin-top: 105px;
    margin-bottom: 28px;
/*        border: 2px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.bottom a {
    font: 500 10px Helvetica;
    text-decoration: none;
    color: #9B9B9B;
}

.bottom a:hover {
    color: #000;
    text-decoration: none;
}

.bottom .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.bottom .menu ul {
    padding-right: 94px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    line-height: 0.7;

}

.bottom .menu ul:first-child {
    margin-left: 25px;
}

.bottom .design {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;

}

.bottom .design ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    line-height: 0.7;
}

.bottom .design ul:last-child {
    margin-right: 55px;
}
.container .little_menu .littleMenu,
    .container .icon .Icon,
    .container .stores .Stores {
        display: inline-block;
    }
   .container .little_menu .burger,
    .container .stores .icon1 {
        display: none;
    }

.popup {
    position: absolute;
    width: 300px;
    height: 100vh;
    top:0;
    left:0;
    /*display:none;*/
    overflow:hidden;
    background:#fff;
    opacity: 0.85;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.popup .TopMenu  {
    margin-top: 127px;
    margin-left: 25px;
    
}
.popup .TopMenu a {
    font-family: Apercu Pro Regular;
    font-weight: normal;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    line-height: 1.3;
}

.popup .TopMenu ul ul {
    margin-left: 15px;
}

.popup .popMenuContact {
    font-family: Apercu Pro Regular;
    font-weight: normal;
    font-size: 14px;
    color: #000;
    margin-left: 25px;
    margin-bottom: 17px;
    
}

.popup a.close {
    width:16px;
    height:16px;
    display:block;
    position:absolute;
    top: 25px;
    right: 25px;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    color: black;
}

    #overlay {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    display:none;
    background:#000;
    opacity:.8;
    z-index: 2;
    cursor: pointer;
}