#wrapper {
    margin: 0 auto;
    max-width: 1920px;
    width: auto;
    height: 1080px;
    
    border: 2px solid yellow;

}

.container {
    max-width: 1920px;

}



.container .icon img {
    width: 4%;
    position: absolute;
    margin: 25px 0 0 47%;
    z-index: 1;

}

.container .little_menu a {
    position: absolute;
    font-family: Apercu Pro Regular;
    font-weight: normal;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    top: 27px;
    left: 27px;
    z-index: 1;
}

.container a:hover {
    color: #757575;
    text-decoration: none;
}

.container .little_menu a.max_index:hover {
    color: #757575;
    text-decoration: none;
}

.container .stores a {
    position: absolute;
    font-family: Apercu Pro Regular;
    font-weight: normal;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    right: 27px;
    top: 27px;
    z-index: 1;
}
.s_1 {
    max-width: 1748px;
    height: 908px;
    background-color: #FAFAFA;
    margin: 86px ;
    position: relative;
}
.s_1 .table {
    width: 930px;
    height: 581px;
    border: 2px solid yellow; 
    position: absolute;
    top: 170px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
   
}
.partOne legend {
    color: #000;
    font-family: Apercu Pro Regular;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 13px;
}   
.partOne input {
    width: 930px;
    padding-bottom: 20px;
}
input[type="text"] { 
    border: 1px solid #BEBFC1; 
    background: transparent; 
    color: #B7C5CE;
    font-family: Apercu Pro Regular;
    font-weight: normal;
    font-size: 14px;
   }
 input[type="text"]::placeholder { 
     color:  #B7C5CE;
     margin-top: 5px;
     margin-bottom: 25px;
     margin-left: 20px;
    font-family: Apercu Pro Regular;
    font-weight: normal;
    font-size: 14px;
     text-indent: 20px;
    
} 